h1
{
  text-align: center;  
}

.press-start-2p-regular 
{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: white;
}

.website
{
 border: 10px;
}

body
{
 background-color: #1f618d ;
}

a
{
 color: red;
}

img
{
 margin-left: 200px;
}