h1
{
  font-size: 30px;
  text-align: center;  
}

h2
{
 text-align: center;
 font-size: 25px;
}

.press-start-2p-regular 
{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.website
{
 border: 10px solid;
 background-color: grey;
 padding: 20px;
}

.background
{
 border: 10px solid;
 background-color: grey;
 padding: 20px;
}

p
{
 text-align: center;
}

















.BLOXFRUITS
{
  margin-left: 260px;
}

body
{
 background-color: #1f618d ;
}

a
{
 color: red;
}



