h1
{
  font-size: 30px;
  text-align: center;
  color: aqua;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal; 
  text-transform: uppercase;
}

h2
{
 text-align: center;
 font-size: 25px;
 color: aqua;
 font-family: "Press Start 2P", system-ui;
 font-weight: 400;
 font-style: normal;
}

h4
{
 font-size: 25px;
 color: aqua;
}

p
{
 text-align: center;
 font-family: "Oswald", sans-serif;
 font-optical-sizing: auto;
 font-weight: 300;
 font-style: normal;
 color: white;
}

ul
{
 font-family: "Oswald", sans-serif;
 font-optical-sizing: auto;
 font-weight: 300;
 font-style: normal;
 color: aqua;
 font-size: 20px;
}

div
{
  background-color: #3C3D37;
  padding: 20px;
}

.version
{
  border: 10px solid;
  background-color: grey;
  padding: 20px;
}

.HOME
{
 margin-left: 0px; 
}

.IMG
{
  margin-left: 300px;
}

.BLOXFRUITS
{
  width: 150px;
  margin-left: 0px;
}

body
{
 background-image: url( IMG/bodybackground.webp);
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
}

.peh
{
  font-size: 20px;
  font-weight: bold;
}

.Center
{
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

.sintir
{
  padding: 50px;
  padding-top: 300px;

}

.STICKY
{
  background-color: transparent;
}

button
{
    height: 50px;
    width: 100px;
    background-color: #181C14;
    color: white;
    display: inline-block;
}

button:hover
{
  color: aqua;
}

a
{
 color: aqua;
}

a:hover
{
  color: white;
}

.block
{
  width: 100px;
  height: 100px;
}

.display
{
  border: solid  #697565;
  display: inline-block;
  margin-left: 90px;
  margin-right: 20px;
}

.RocketZ:hover
{
  content: url(GIF/Rocket_Z.webp);
}

.RocketX:hover
{
  content: url( GIF/Rocket_X.webp );
}

.RocketC:hover
{
 content: url(GIF/Rocket_C.webp);
}

.RocketF:hover
{
 content: url(GIF/Rocket_F.webp);
}


.titlebar {
  width: 99%;
  height: 100%;
  background-color: darkslategrey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: solid black 3px;
  flex-wrap: wrap;
}

.logo {
  align-items: center;
  width: 250px;
  height: 55px;
  max-width: 100%;
  height: auto;
}

.nav-button {
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 0.25rem;
  border: 0.1rem solid black;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.nav-button img {
  width: 20px;
}

.nav-button span {
  font-size: 1.1rem;
}

.nav-button:hover {
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: cadetblue;
  border-radius: 0.25rem;
  border: 0.1rem solid cadetblue;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  background-color: black;
  padding: 10px 0;
  text-align: center;
  min-width: 100%;
  transition: 0.5s;
}

.menu a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.menu a:hover {
  background-color: darkgray;
}

.nav-button:hover .menu {
  display: block;
}